.title{
    text-align: center;
}

.title span{
    font-size: 13.28px;
    color: var(--color-light);
}

.title h1{
    font-size: 29px;
    color: var(--color-primary);
    font-weight: 500;
    margin-bottom: 4rem;
}

/* .container{
    margin-right: 0px;
    height: 336px;
    width: 336px;
    background-color: var(--color-primary);
    border-radius: 32px;
    display: grid;
    justify-content: center;
    z-index: -1;
}
.sideimg{
    height: 336px;
    width: 336px;
    border-radius: 32px;
} */

.container1{
    display: grid;
    grid-template-columns: auto auto;
    width: 75%;
    margin: 0 auto;
}

.left,.right{
    margin: 2rem;
}

.cards{
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.card{
    width: 8rem;
    height: 12rem;
    border: 2px solid red;
    border-radius: 20px;
    margin: .5rem;
}

.sideimg{
    height: 336px;
    width: 336px;
    border-radius: 32px;
    transform: rotate(10deg);
    transition: var(--transition);
}

.sideimg:hover{
    transform: rotate(0deg);
}

.left{
    height: 336px;
    width: 336px;
    background-color: var(--color-primary);
    border-radius: 32px;
    z-index: -1;
}

.aboutmecontent{
    display: flex;
    /* width: 50%; */
    justify-content: center;
    margin: 2rem 0 0 0;    
}

.aboutmecontent p{
    width: 70%;
    font-size: 17px;
}

/* .right{
    justify-content: center;
} */
